fastapi==0.109.2
uvicorn[standard]
SQLAlchemy
alembic
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
openai
langchain-core
langchain
langchain-classic
langchain-groq
langchain-openai
pydantic
google-auth>=2.20.0
gspread>=6.0.0
razorpay
httpx<0.28
pytest
reportlab
fastapi-mail
redis
Pillow
pandas
openpyxl
xlrd
