fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
openai
langchain-core
langchain
langchain-classic
langchain-groq
langchain-openai
pydantic
google-auth
razorpay
httpx
pytest
reportlab
fastapi-mail
